---
import {db, Comments} from 'astro:db';

const res = await db.insert(Comments).values([
	{author: 'Alice'},
]);

console.log(res);

const res2 = await db.select().from(Comments);

console.log(res2);

await db.delete(Comments);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
